# INSIGHTLY_API_KEY can be obtained on user settings page.
INSIGHTLY_API_KEY = ''

# SLACK_CHANNEL_URL can be obtained on the webhook config page: https://my.slack.com/services/new/incoming-webhook/
# Format is 'https://hooks.slack.com/services/xxxxxxxx/xxxxxxxx/xxxxxxxxxxxxxxxxxxxx'
SLACK_CHANNEL_URL = ''


LOG_FILE = '/var/log/insightly_notify.log'

LOG_LEVEL = 'INFO'
